<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/topics">Inspiration App</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/topics">Topics Page</a></li>
            <li><a href="/userpage/new"> Create Post</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <!-- *********DISPLAY OUR POSTS********* -->
      <h1 class="title is-1 has-text-white"><%= username %>'s Posts:</h1>
      <br />

      <% for (const post of posts) { %>
      <div class="card" style="display: inline-block">
        <div class="card-content">
          <a href="/post/<%= post._id %>"
            ><img class="post-image" src="<%= post.image %>"
          /></a>
          <div class="content">
            <%= post.title %>
            <br />
            <a href="/userpage/<%= post._id %>/edit">Edit Post</a>
          </div>
        </div>
      </div>
      <% } %>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
