<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <header>
      <div class="navbar">
        <a href="#">Topic Page</a>
        /
        <a href="/userpage/new"> Create Post</a>
        /
        <a href="/auth/logout">Logout</a>
      </div>
    </header>

    <main>
      <!-- *********DISPLAY OUR POSTS********* -->
      <h1 class="title is-1"><%= username %>'s Posts:</h1>
      <br />

      <% for (const post of posts) { %>
      <h2 class="subtitle is-5"><%= post.title %></h2>
      <a href="/post/<%= post._id %>"><img src="<%= post.image %>" /> </a>
      <% } %>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
