<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main>
      <!-- *********DISPLAY OUR POSTS********* -->
      <h1>Hello <%= username %> !</h1>
      <h2 class="subtitle is-2">Posts:</h2>
      <a href="/userpage/new"><button class="go-back">Create Post</button></a>
      <br />
      <a href="/auth/logout"><button class="button">Logout</button></a>

      <% for (const post of posts) { %>
      <h2 class="subtitle is-5"><%= post.title %></h2>
      <a href="/post/<%= post._id %>"><img src="<%= post.image %>" /> </a>
      <% } %>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
