<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <h1><%= post.title %></h1>
    <br />
    <img src="<%= post.image %>" />
    <br />
    <strong>Description:</strong> <%= post.body %>
    <br />
    <strong>Topic:</strong> <%= post.topic %>
    <br />
    <strong>Username:</strong> <%= post.user %>
    <br />
  </body>

  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/footer") %>
</html>
