<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/topics">Inspiration App</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/userpage"> <%= username %>'s Page</a></li>
            <li><a href="/topics">Topics Page</a></li>
            <li>
              <a href="/topics/<%= post.topic %>"
                >Return to <%= post.topic %></a
              >
            </li>
            <li><a href="/auth/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <img src="<%= post.image %>" width="50%" />
      <br />
      <p class="title is-1 has-text-white"><%= post.title %></p>
      <br />
      <p class="title is-2 has-text-white">Description :</p>
      <p class="has-text-white"><%= post.body %></p>
      <br />
      <p class="title is-2 has-text-white">Topic :</p>
      <p class="has-text-white"><%= post.topic %></p>
      <br />
      <p class="title is-2 has-text-white">Username :</p>
      <p class="has-text-white"><%= post.user %></p>
      <br />
    </main>

    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>
